.root {
    -fx-font-family: "Helvetica";
    -fx-background-color: #1A1A1A;
    -fx-text-fill: white;
    -fx-selection-bar-text: firebrick;
}

.list-view {
    -fx-background-color: #333333;
}

.list-cell {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #CCCCCC;
}